.container {
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: left;
  width: 900px;
}

.container h2 {
  font-size: 5rem;
}

.container a {
  font-size: 1.4rem;
}

.post {
  width: 100%;
  margin: 1%;
  background: white;
  color: #333;
  padding: 1%;
  word-break: break-word;
}

.homeLink {
  color: blue;
  text-decoration: underline;
}

.viewkey {
  word-break: break-all;
}

.importForm {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.vkInput {
  width: 50%;
}

textarea {
  width: 500px;
  height: 30px;
}